.addpadding
{
    margin-bottom: 30px;
}

.display
{
    color: #cc0000;
}

.overflow
{
    width: 100%;
    max-height: 750px;
    overflow: auto;
}

.overflow-y
{
    width: 105%;
    max-height: 500px;
    overflow-y: auto;
}

.wordbreak
{
    word-break: break-all;
}
